body {
    background-color: black;
    color: white;
  }

ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
li {
    margin-bottom: 10px;
  }
  
audio {
    display: block;
  }

pre {
    border: 1px solid   #cccccc;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 20px;
    line-height: 1,5;
    padding: 3px;
    margin-left: 10px;
    margin-right: 10px;
    white-space: pre-wrap;
  }

i {
  font-size: 17px;
  font-weight: normal;
}

.coluna1 {
    width: 76%;
    float: left;
  }

.coluna2 {
    width: 24%;
    float: left;
  }

.img1 {
  float: left;
  margin-left: 100px;
}

.dfn {
  border: 1px solid rgb(0, 0, 0);
  padding: 2px;
  font-size: 43px;
  background-color: rgba(0, 217, 255, 0.541);
  color: rgb(94, 0, 73);
}